$dark-primary: mat-palette($mat-grey);
$dark-accent: mat-palette($mat-deep-orange);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// @function my-mat-dark-theme-foreground($color) {
//     @return (
//         base:              $color,
//         divider:           $black-12-opacity,
//         dividers:          $black-12-opacity,
//         disabled:          rgba($color, 0.38),
//         disabled-button:   rgba($color, 0.38),
//         disabled-text:     rgba($color, 0.38),
//         hint-text:         rgba($color, 0.38),
//         secondary-text:    rgba($color, 0.54),
//         icon:              $color,
//         icons:             $color,
//         text:              $color,
//         slider-off:        rgba($color, 0.26),
//         slider-off-active: rgba($color, 0.38),
//     );
// };

//$deep-orange-foreground: my-mat-dark-theme-foreground(#FF3D00);
//$dark-theme: map-merge($theme, (foreground: $deep-orange-foreground));
