$website-primary: mat-palette($mat-deep-orange, A400);
$website-accent: mat-palette($mat-pink, A200, A100, A400);
$website-warn: mat-palette($mat-red);
$website-theme: mat-light-theme($website-primary, $website-accent, $website-warn);
