// @import '~@angular/material/theming';

// @mixin mat-menu-theme($theme) {
//   $background: map-get($theme, background);
//   $foreground: map-get($theme, foreground);

//   .mat-menu-panel {
//     @include _mat-theme-overridable-elevation(4, $theme);
//     background: mat-color($background, 'card');
//   }

//   .mat-menu-item {
//     background: transparent;
//     color: mat-color($foreground, 'text');

//     &[disabled] {
//       &, &::after {
//         color: mat-color($foreground, 'disabled');
//       }
//     }
//   }

//   .mat-menu-item .mat-icon-no-color,
//   .mat-menu-item-submenu-trigger::after {
//     color: mat-color($foreground, 'icon');
//   }

//   .mat-menu-item:hover,
//   .mat-menu-item.cdk-program-focused,
//   .mat-menu-item.cdk-keyboard-focused,
//   .mat-menu-item-highlighted {
//     &:not([disabled]) {
//       background: mat-color($background, 'hover');
//     }
//   }
// }

.span-header {
  margin: auto;
  font-size: 40px;
  //padding: 0px, 0px, 200px, 0px;
}

.theme-wrapper {
  height: 100%;
  width: 100%;
}

.outlet-padding {
  padding-left: 16px;
  padding-right: 16px;
}

.fixed {
  position: absolute;
  background-color: transparent !important;
  top: 0;
  z-index: 5;
  margin-top: 0.90%;
  align-content: center;
  color: #fff;
}

.spacer {
  flex: 1 1 auto;
}

.icon {
  padding: 0 16px 0 0;
  //width: 10px;
}

.toggle {
  padding: 0 0 0 16px;
}

.toggle-menu {
  padding: 0 16px;
}



// a {
//   color: #000000;
// }

// .fixed-header {
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 2;
//   width: 100% !important;
// }
