<!-- <mat-sidenav-container fxFlexFill>
  <mat-sidenav-content> -->
<div [class]="theme">
  <div>
    <mat-sidenav-container>
      <mat-toolbar color="primary" class="fixed-header">
        <mat-toolbar-row class="toolbar-header">
          <span class="span-header">seven4one</span>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <div>
            <a mat-button [routerLink]="'/main'">Main</a>
          </div>
          <div>
            <button mat-button [matMenuTriggerFor]="menu">Apps</button>
            <mat-menu #menu="matMenu" xPosition="after">
              <a mat-menu-item *ngFor="let app of apps" routerLink="/detail/{{app.id}}"> {{ app.title }} </a>
            </mat-menu>
          </div>
          <!-- <div>
      <a mat-button [routerLink]="'/contact'">Contact</a>
    </div> -->
          <div>
            <a mat-button [routerLink]="'/we'">We</a>
          </div>
          <span class="spacer"></span>
          <div *ngIf="mobile">
            <button mat-button [matMenuTriggerFor]="menuSocial">
              <fa-icon [icon]="['fas', 'external-link-alt']"></fa-icon>
            </button>
            <mat-menu #menuSocial="matMenu" yPosition="below">
              <!-- <a mat-menu-item *ngFor="let app of apps" routerLink="/detail/{{app.id}}"> {{ app.title }} </a> -->
              <a mat-menu-item href="https://gitlab.com/seven4one" target="_blank">
                <fa-icon class="icon" [icon]="['fab', 'gitlab']"></fa-icon>
                <span>GitLab</span>
              </a>
              <a mat-menu-item href="https://www.facebook.com/741apps">
                <fa-icon class="icon" [icon]="['fab', 'facebook']"></fa-icon>
                <span>Facebook</span>
              </a>
              <a mat-menu-item href="https://www.instagram.com/741apps/">
                <fa-icon class="icon" [icon]="['fab', 'instagram']"></fa-icon>
                <span>Instagram</span>
              </a>
            </mat-menu>
          </div>
          <div *ngIf="!mobile">
            <a mat-button href="https://gitlab.com/seven4one" target="_blank">
              <fa-icon [icon]="['fab', 'gitlab']"></fa-icon>
              
            </a>
            <a mat-button href="https://www.facebook.com/741apps">
              <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
             
            </a>
            <a mat-button href="https://www.instagram.com/741apps/">
              <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
              
            </a>
          </div>
          <button mat-icon-button [matMenuTriggerFor]="menuSettings">
              <fa-icon [icon]="['fas', 'cog']"></fa-icon>
            </button>
            <mat-menu class='mat-menu-theme' #menuSettings="matMenu" xPosition="before">
              <button mat-menu-item>
                  <span>Dark-Mode</span>
                <mat-slide-toggle class="toggle" (change)="onThemeSelect($event.checked)"></mat-slide-toggle>
              </button>
              <mat-button-toggle-group mat-menu-item name="language" value="de">
                <mat-button-toggle value="de">Deutsch</mat-button-toggle>
                <mat-button-toggle value="en">Englisch</mat-button-toggle>
              </mat-button-toggle-group>
            </mat-menu>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="outlet-padding">
        <router-outlet></router-outlet>
        <footer>
          <div>
            <p>Copyright &copy; seven4one.de 2019</p>
          </div>
        </footer>
      </div>
    </mat-sidenav-container>
  </div>
</div>

<!-- </mat-sidenav-content>
</mat-sidenav-container> -->

<!-- <mat-card>
  <router-outlet></router-outlet>
  <mat-card-footer>
    <div>
      <p>Copyright &copy; seven4one.de 2019</p>
    </div>
  </mat-card-footer>
</mat-card> -->