<div class="wrapper">
  <div class="description">
    <h2>741 wtf?!</h2>
    <p>Wir sind zwei Studenten aus Stuttgart die Spaß am Software Entwickeln haben. Die Uni lässt es zwar nicht immer
      zu
      aber wir versuchen hier und da unseren eigenen Ideen umzusetzen.
    </p>
  </div>
  <div class="address">
    <h2>Kontakt</h2>
    <div>
      <strong>741apps</strong>
      <!--br>Friedhofstraße 12-->
      <br>70176 Stuttgart 🤙
      <br>
      <br>Jakob Tippelt
      <br>Luca Meyer
      <br>E-Mail: <a href="mailto:741apps@gmail.com">741apps@gmail.com</a>
      <!--abbr title="Phone">P:</abbr>(123) 456-7890-->
    </div>
  </div>
</div>
<div>
  <h2>Apps</h2>
</div>
<mat-grid-list [cols]="cols" [rowHeight]="rowHeight" gutterSize="16px" (window:resize)="onResize($event)">
  <mat-grid-tile class="grid-list-item" *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows"
  [style.background]="'primary'" routerLink="/detail/{{tile.id}}">
    <div class="gird-list-item-image ">
      <img src="assets/images/appImages/{{tile.images[0]}}">
    </div>
    <mat-grid-tile-header class="grid-list-item-header">
      {{tile.title}}
    </mat-grid-tile-header>
    <div class="gird-list-item-info">
      {{tile.infoText}}
      <a target="_blank" href="{{getURL(tile)}}">Get it here</a>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<!-- <div>
  <h2>Andere Projekte</h2>
</div> -->