.wrapper {
  width: 100%;
  min-height: 200px;
  //border: 1px solid green;
  overflow: hidden;
  margin-bottom: 32px;
}

.description {
  width: 75%;
  float: left;
}
.address {
  float: right; /* add this */
}

@media screen and (max-width: 900px) {
  .address {
    width: 100%;
    float: left; /* add this */
  }
  .description {
    width: 100%;
    float: left;
  }
}

.grid-list-item {
  &:hover,
  &:active,
  &:focus {
    .grid-list-item-header {
      visibility: hidden;
    }
    .gird-list-item-image {
      opacity: 0.2;
    }
    .gird-list-item-info {
      visibility: visible;
    }
  }
}

// .grid-list-item-header {
//   opacity: 1;
//   position: absolute;
//   object-fit: cover;
// }

.gird-list-item-info {
  padding: 16px;
  position: absolute;
  visibility: hidden;
}
