<mat-tab-group mat-stretch-tabs [selectedIndex]="selectIndex">
    <mat-tab label="{{app.title}}">
        <h1>{{app.title}}</h1>
        <p>{{app.infoText}}</p>
        <mat-grid-list [cols]="cols" [rowHeight]="rowHeight" gutterSize="16px" (window:resize)="onResize($event)">
            <mat-grid-tile *ngFor="let image of app.images" [colspan]="1" [rowspan]="1">
                <div>
                    <img src="assets/images/appImages/{{image}}">
                </div>
                <!-- <mat-grid-tile-header class="grid-list-item-header">
                    {{tile.title}}
                </mat-grid-tile-header> -->
                <!-- <div class="gird-list-item-info">
                    {{tile.infoText}}
                    <a target="_blank" href="{{getURL(tile)}}">Get it here</a>
                </div> -->
            </mat-grid-tile>
        </mat-grid-list>
        <div class="link-button-container">
            <a class="link-button" mat-raised-button target="_blank" href="{{app.androidLink}}" color="primary">Android</a>
            <a class="link-button" mat-raised-button target="_blank" href="{{app.iosLink}}" color="primary">Ios</a>
        </div>
    </mat-tab>
    <mat-tab label="Privacy Policy">
        <h2>Privacy Policy</h2>
        <p>seven4one built the {{app.title}} app as a {{app.privacy[0]}} app. This SERVICE is provided by seven4one
            {{app.privacy[1]}} and is intended
            for use as is.</p>
        <p>This page is used to inform website visitors regarding o policies with the collection, use, and
            disclosure of Personal Information if anyone decided to use our Service.</p>
        <p>If you choose to use our Service, then you agree to the collection and use of information in
            relation with this policy. The Personal Information that we collect are used for providing and
            improving the Service. we will not use or share your information with anyone except as described
            in this Privacy Policy.</p>
        <p>The terms used in this Privacy Policy have the same meanings as in o Terms and Conditions,
            which is accessible at {{app.title}}, unless otherwise defined in this Privacy Policy.</p>

        <p><strong>Information Collection and Use</strong></p>
        <!-- <p>For a better experience while using o Service, we may require you to provide us with certain
            personally identifiable information, including but not limited to [add whatever else you collect here, e.g.
            users name | address | location | pictures].
            The information that we request is [retained on your device and is not
            collected by us in any way]|[will be retained by us and used as described in this privacy policy.</p> -->
        <p>The app does use third party services that may collect information used to identify you. </p>
        <mat-nav-list>
            <mat-list-item *ngFor="let privacyLink of app.privacyLinks">
                <div><a href="{{privacyLink[1]}}" target="_blank">
                        {{ privacyLink[0] }}
                    </a>
                </div>
            </mat-list-item>
        </mat-nav-list>

        <p><strong>Log Data</strong></p>
        <p>we want to inform you that whenever you use our Service, in case of an error in the app we
            collect
            data and information (through third party products) on your phone called Log Data. This Log Data
            may include information such as your devices’s Internet Protocol (“IP”) address, device name,
            operating system version, configuration of the app when utilising our Service, the time and date
            of your use of the Service, and other statistics.</p>

        <p><strong>Cookies</strong></p>
        <p>Cookies are files with small amount of data that is commonly used an anonymous unique identifier.
            These are sent to your browser from the website that you visit and are stored on your devices’s
            internal memory.</p>
        <p>
            <!-- Check if this is true for your app, if unsure, just assume that you do use cookies and modify this
                next line -->
            This Services does not uses these “cookies” explicitly. However, the app may use third
            party code
            and libraries that use “cookies” to collection information and to improve their services. You
            have the option to either accept or refuse these cookies, and know when a cookie is being sent
            to your device. If you choose to refuse o cookies, you may not be able to use some portions of
            this Service.</p>

        <p><strong>Service Providers</strong></p>
        <!-- This part need seem like it's not needed, but if you use any Google services, or any other third party libraries, chances are, you need this. -->
        <p>we may employ third-party companies and individuals due to the following reasons:</p>
        <ul>
            <li>To facilitate o Service;</li>
            <li>To provide the Service on o behalf;</li>
            <li>To perform Service-related services; or</li>
            <li>To assist us in analyzing how o Service is used.</li>
        </ul>
        <p>we want to inform users of this Service that these third parties have access to your Personal
            Information. The reason is to perform the tasks assigned to them on o behalf. However, they
            are obligated not to disclose or use the information for any other purpose.</p>

        <p><strong>Security</strong></p>
        <p>we value your trust in providing us your Personal Information, thus we are striving to use
            commercially acceptable means of protecting it. But remember that no method of transmission over
            the internet, or method of electronic storage is 100% secure and reliable, and we cannot
            guarantee its absolute security.</p>

        <p><strong>Links to Other Sites</strong></p>
        <p>This Service may contain links to other sites. If you click on a third-party link, you will be
            directed to that site. Note that these external sites are not operated by us. Therefore, I
            strongly advise you to review the Privacy Policy of these websites. I have no control over, and
            assume no responsibility for the content, privacy policies, or practices of any third-party
            sites or services.</p>

        <p><strong>Children’s Privacy</strong></p>
        <p>This Services do not address anyone under the age of 13. we do not knowingly collect personal
            identifiable information from children under 13. In the case we discover that a child under 13
            has provided us with personal information, we immediately delete this from o servers. If you
            are a parent or guardian and you are aware that your child has provided us with personal
            information, please contact us so that we will be able to do necessary actions.</p>

        <p><strong>Changes to This Privacy Policy</strong></p>
        <p>we may update o Privacy Policy from time to time. Thus, you are advised to review this page
            periodically for any changes. we will notify you of any changes by posting the new Privacy Policy
            on this page. These changes are effective immediately, after they are posted on this page.</p>

        <p><strong>Contact Us</strong></p>
        <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact
            us.</p>
        <p>This Privacy Policy page was created at <a href="https://privacypolicytemplate.net"
                target="_blank">privacypolicytemplate.net</a>.</p>
    </mat-tab>
    <mat-tab label="Terms & Conditions">
        <h2>Terms &amp; Conditions</h2>
        <p>
            By downloading or using the app, these terms will
            automatically apply to you – you should make sure therefore
            that you read them carefully before using the app. You’re
            not allowed to copy, or modify the app, any part of the app,
            or our trademarks in any way. You’re not allowed to attempt
            to extract the source code of the app, and you also
            shouldn’t try to translate the app into other languages, or
            make derivative versions. The app itself, and all the trade
            marks, copyright, database rights and other intellectual
            property rights related to it, still belong to
            seven4one.
        </p>
        <p>
            seven4one is committed to ensuring that the app
            is as useful and efficient as possible. For that reason, we
            reserve the right to make changes to the app or to charge
            for its services, at any time and for any reason. We will
            never charge you for the app or its services without making
            it very clear to you exactly what you’re paying for.
        </p>
        <p>
            The {{app.title}} app stores and processes personal data
            that you have provided to us, in order to provide
            our Service. It’s your responsibility to keep your
            phone and access to the app secure. We therefore recommend
            that you do not jailbreak or root your phone, which is the
            process of removing software restrictions and limitations
            imposed by the official operating system of your device. It
            could make your phone vulnerable to
            malware/viruses/malicious programs, compromise your phone’s
            security features and it could mean that the
            {{app.title}} app won’t work properly or at all.
        </p>
        <p>
            You should be aware that there are certain things that
            seven4one will not take responsibility for.
            Certain functions of the app will require the app to have an
            active internet connection. The connection can be Wi-Fi, or
            provided by your mobile network provider, but
            seven4one cannot take responsibility for the
            app not working at full functionality if you don’t have
            access to Wi-Fi, and you don’t have any of your data
            allowance left.
        </p>
        <p></p>
        <p>
            If you’re using the app outside of an area with Wi-Fi, you
            should remember that your terms of the agreement with your
            mobile network provider will still apply. As a result, you
            may be charged by your mobile provider for the cost of data
            for the duration of the connection while accessing the app,
            or other third party charges. In using the app, you’re
            accepting responsibility for any such charges, including
            roaming data charges if you use the app outside of your home
            territory (i.e. region or country) without turning off data
            roaming. If you are not the bill payer for the device on
            which you’re using the app, please be aware that we assume
            that you have received permission from the bill payer for
            using the app.
        </p>
        <p>
            Along the same lines, seven4one cannot always
            take responsibility for the way you use the app i.e. You
            need to make sure that your device stays charged – if it
            runs out of battery and you can’t turn it on to avail the
            Service, seven4one cannot accept
            responsibility.
        </p>
        <p>
            With respect to seven4one’s responsibility for
            your use of the app, when you’re using the app, it’s
            important to bear in mind that although we endeavour to
            ensure that it is updated and correct at all times, we do
            rely on third parties to provide information to us so that
            we can make it available to you.
            seven4one accepts no liability for any loss,
            direct or indirect, you experience as a result of relying
            wholly on this functionality of the app.
        </p>
        <p>
            At some point, we may wish to update the app. The app is
            currently available on – the requirements for
            system (and for any additional systems we
            decide to extend the availability of the app to) may change,
            and you’ll need to download the updates if you want to keep
            using the app. seven4one does not promise that
            it will always update the app so that it is relevant to you
            and/or works with the version that you have
            installed on your device. However, you promise to always
            accept updates to the application when offered to you, We
            may also wish to stop providing the app, and may terminate
            use of it at any time without giving notice of termination
            to you. Unless we tell you otherwise, upon any termination,
            (a) the rights and licenses granted to you in these terms
            will end; (b) you must stop using the app, and (if needed)
            delete it from your device.
        </p>
        <p><strong>Changes to This Terms and Conditions</strong></p>
        <p>
            We may update our Terms and Conditions
            from time to time. Thus, you are advised to review this page
            periodically for any changes. We will
            notify you of any changes by posting the new Terms and
            Conditions on this page. These changes are effective
            immediately after they are posted on this page.
        </p>
        <p><strong>Contact Us</strong></p>
        <p>
            If you have any questions or suggestions about
            our Terms and Conditions, do not hesitate to
            contact us at [App Contact informations].
        </p>
        <p>
            This Terms and Conditions page was generated by
            <a href="https://app-privacy-policy-generator.firebaseapp.com/" target="_blank">App Privacy Policy
                Generator</a></p>
    </mat-tab>
</mat-tab-group>