@import "~@angular/material/theming";
@include mat-core();

@import "./styles/dark-theme";
@import "./styles/default-theme";
@import './styles/component-themes';

body {
  margin: 0;
}

@include angular-material-theme($website-theme);
//@include component-themes($website-theme);

//@include mat-menu-theme($dark-theme);

.website-default-theme {
  @include angular-material-theme($website-theme);
  //@include mat-menu-theme($website-theme);
  //@include component-themes($website-theme);
}

.website-dark-theme {
  @include angular-material-theme($dark-theme);
  //@include mat-menu-theme($dark-theme);
  //@include component-themes($dark-theme);
}
